.App {
  text-align: center;

  width:100%;
  direction:"rtl" ;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  direction:"rtl" ;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  direction:"rtl" ;
}

.App-link {
  color: #61dafb;
  direction:"rtl" ;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
    direction:"rtl" ;
  }
}

.footer {
  direction:"rtl" ;
  bottom: 0;
  width:100%;
  height: 30px;
  background-color: black;
  text-align: center;
  color: white;
}


#block_container > div {
  display: inline-block;
margin: 10px;
  direction:"rtl" ;
  text-align: right;
  direction: rtl;
  vertical-align: middle;
}


.label {

 
  text-align: right;
  direction: rtl;
 
  }

  p{
    width:100%;
    background-color: coral;

    direction: rtl;
    text-align: right;
  }

  label{
    width:100%;
    background-color: coral;

    direction: rtl;
    text-align: right;

  }